@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

/* Reset */
*{
    margin: 0;
    padding: 0;
    color: #ecf0f1;
    box-sizing: border-box;
    font-family: 'Roboto';
}
/* Footer */

footer{
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(44,214,66,1) 0%, rgba(2,0,36,1) 47%, rgba(48,214,47,0.4654236694677871) 100%);
}

/* Top Part */

.main-content{
    display: flex;
    padding: 5px 0;
    
}
 .main-content .box{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 33.33%;
    padding: 10px 20px;
}
.box h2{
    font-size: 1.125rem;
}
.box .content{
    margin: 20px 0 0 0;
    position: relative;
}

.box .content::before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #ecf0f1;
}